body {
  margin: 0;
}

*/Text Styles*/

h1 {
  font-family: 'PT Sans Narrow', bold;
  text-shadow:0 0 1px transparent;
  font-size: 1.875em;
  color: #323232;
  text-align: center !important;
  padding: 50px;
  margin: 0px;
}
h2 {
  font-family: 'PT Sans Narrow', bold;
  text-transform: uppercase;
  text-shadow:0 0 1px transparent;
  font-size: 1.5em;
  color: #00897f;
  text-align: center;
  margin: 0px 0 10px 0;
}
h3 {
  font-family: 'PT Serif';
  text-shadow:0 0 1px transparent;
  font-size: 1em;
  color: #323232;
  line-height: 2em;
  margin: 0px;
}
p {
  font-family: 'PT Serif';
  text-shadow:0 0 1px transparent;
  font-size: .875em;
  color: #323232;
  line-height: 1.75em;
  text-align: left;
}
a#first {
  font-family: 'PT Serif';
  text-shadow:0 0 1px transparent;
  font-size: 1em;
  color: #f26522;
  text-transform: none;
}
a#second {
  font-family: 'PT Serif';
  text-shadow:0 0 1px transparent;
  font-size: 1em;
  color: #f26522;
  text-transform: none;
  justify-content: center;
}
.topnav #h1 {
  font-family: 'PT Sans Narrow', bold;
  text-shadow:0 0 1px transparent;
  font-size: 1.5em;
  color: #323232;
}
.topnav #p {
  font-family: 'PT Sans', bold;
  text-transform: uppercase;
  text-shadow:0 0 1px transparent;
  font-size: 0.9em;
  color: #323232;
}
.contact h3 {
  font-family: 'PT Serif', bold;
  text-shadow:0 0 1px transparent;
  text-transform: uppercase;
  font-size: 1em;
  color: #323232;
  line-height: 2em;
  margin: 0px;
}
.footer h1 {
  font-family: 'PT Sans Narrow', bold;
  text-shadow:0 0 1px transparent;
  font-size: 1.25em;
  color: #ffffff;
  padding: 50px;
  text-align: center;
}

*/Page Styles*/

.topnav {
  padding: 10px 10px 10px 10px;
  text-decoration: none;
  box-sizing: border-box;
  height: 80px;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.topnav ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
}
.topnav ul:first-child {
  float: left !important;
}
.topnav ul li {
  list-style-type: none;
  margin: 10px;
  margin-right: 5px;
  margin-left: 6px;
  text-align: left;
  float: right;
}
.splash {
  width: 100%;
}
.splash #mainimage{
  width: 100%;
}
.main {
  margin: 8% 12% 8% 12%;
}
.first {
  display: block;
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  padding: 2%;
  margin-bottom: 80px;
}
.mainboxes {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.box1 {
  background-color: #eeeeee;
  display: inline-block;
  box-sizing: border-box;
  height: 200px;
  width: 46%;
  padding: 30px 30px 30px 30px;
  text-align: center;
}
.box2 {
  background-color: #eeeeee;
  display: inline-block;
  box-sizing: border-box;
  height: 200px;
  width: 46%;
  padding: 30px 30px 30px 30px;
  text-align: center;
}
.middle {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 8% 12% 8% 12%;
  padding: 2%;
}
.middle #circle1 {
  border-radius: 50%;
  width: 250px;
  height: 250px;
}
.middle #circle2 {
  border-radius: 50%;
  width: 250px;
  height: 250px;
}
.middle #circle3 {
  border-radius: 50%;
  width: 250px;
  height: 250px;
}
.contact {
  padding: 8% 12% 8% 12%;
  background-color: #eeeeee;
}
.contactheading {
  display: block;
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  padding: 2%;
}
.contactboxes {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.box3 {
  background-color: #ffffff;
  display: inline-block;
  box-sizing: border-box;
  height: 200px;
  width: 46%;
  padding: 30px 30px 30px 30px;
}
.box4 {
  background-color: #ffffff;
  display: inline-block;
  box-sizing: border-box;
  height: 200px;
  width: 46%;
  padding: 30px 30px 30px 30px;
}
.map {
  margin: 0%;
}
.map #locmap {
  width: 100%;
}
.footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #00897f;
  height: 125px;
  width: 100%;
  margin: 0%;
}

/* On devices less than 1257px */
@media(max-width: 1257px) {
 .box1 {
  width: 45%;
  height: 225px;
  }
  .box2 {
  width: 45%;
  height: 225px;
  }
}

/* On devices less than 1180px */
@media(max-width: 1180px) {
  .box1 {
   width: 45%;
   height: 250px;
   }
   .box2 {
   width: 45%;
   height: 250px;
   }
   .box3 {
    width: 45%;
    height: 250px;
    }
    .box4 {
    width: 45%;
    height: 250px;
    }
}
/* On devices less than 1180px */
@media(max-width: 1007px) {
  .box1 {
   width: 45%;
   height: 275px;
   }
   .box2 {
   width: 45%;
   height: 275px;
   }
   .box3 {
    width: 45%;
    height: 275px;
    }
    .box4 {
    width: 45%;
    height: 275px;
    }
}
/* On devices less than 917px */
@media(max-width: 917px) {
  .box1 {
   width: 45%;
   height: 300px;
   }
   .box2 {
   width: 45%;
   height: 300px;
   }
   .box3 {
    width: 45%;
    height: 300px;
    }
    .box4 {
    width: 45%;
    height: 300px;
    }
  }
/* On devices less than 785px */
@media(max-width: 785px) {
  .mainboxes {
    flex-direction: column;
  }
  .contactboxes {
    flex-direction: column;
  }
  .box1 {
   width: 100%;
   height: 200px;
   }
   .box2 {
   width: 100%;
   height: 200px;
   }
   .box3 {
    width: 100%;
    height: 200px;
    }
    .box4 {
    width: 100%;
    height: 200px;
    }
  .middle #circle1 {
    display: none;
  }
  .middle #circle3 {
    display: none;
  }
 }
/* On devices less than 500px */
@media(max-width: 500px) {
  .box1 {
   width: 100%;
   height: 225px;
   }
   .box2 {
   width: 100%;
   height: 225px;
   }
  }
