body {
  margin: 0;
}

*/Text Styles*/

h1 {
  font-family: 'PT Sans Narrow', bold;
  text-shadow:0 0 1px transparent;
  font-size: 1.875em;
  color: #323232;
  text-align: center;
  padding: 0px 0 45px 0;
  margin: 0px;
}
h2 {
  font-family: 'PT Sans Narrow', bold;
  text-transform: uppercase;
  text-shadow:0 0 1px transparent;
  font-size: 1.5em;
  color: #00897f;
  text-align: center;
  margin: 0px 0 10px 0;
}
h3 {
  font-family: 'PT Serif';
  text-shadow:0 0 1px transparent;
  font-size: 1em;
  color: #323232;
  line-height: 2em;
  margin: 0px;
}
p {
  font-family: 'PT Serif';
  text-shadow:0 0 1px transparent;
  font-size: .875em;
  color: #323232;
  line-height: 1.75em;
  text-align: left;
}
a#first {
  font-family: 'PT Serif', bold;
  text-shadow:0 0 1px transparent;
  font-size: 1em;
  color: #f26522;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.topnav #h1 {
  font-family: 'PT Sans Narrow', bold;
  text-shadow:0 0 1px transparent;
  font-size: 1.5em;
  color: #323232;
}
.topnav #p {
  font-family: 'PT Sans', bold;
  text-transform: uppercase;
  text-shadow:0 0 1px transparent;
  font-size: 0.9em;
  color: #323232;
}
.contact h3 {
  font-family: 'PT Serif';
  text-shadow:0 0 1px transparent;
  text-transform: uppercase;
  font-size: 1em;
  color: #323232;
  line-height: 2em;
  margin: 0px;
  text-align: left;
}
.footer h1 {
  font-family: 'PT Sans Narrow', bold;
  text-shadow:0 0 1px transparent;
  font-size: 1.25em;
  color: #ffffff;
  padding: 50px;
  text-align: center;
}

*/Page Styles*/

.topnav ul {
    list-style-type: none;
}
.topnav li {
  display: inline;
  margin-right: 5px;
  margin-left: 6px;
}
.topnav {
  float: center;
  color: #000;
  text-align: left;
  padding: 10px 10px 10px 10px;
  text-decoration: none;
  box-sizing: border-box;
  height: 80px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.splash {
  width: 100%;
}
.splash #mainimage{
  width: 100%;
}
.main {
  margin: 80px 175px 80px 175px;
}
.box1 {
  background-color: #eeeeee;
  display: inline-block;
  box-sizing: border-box;
  height: 200px;
  width: 46%;
  margin: 1px 30px 1px 1px;
  padding: 30px 30px 30px 30px;
  text-align: center;
}
.box2 {
  background-color: #eeeeee;
  display: inline-block;
  box-sizing: border-box;
  height: 200px;
  width: 46%;
  margin: 1px 1px 1px 30px;
  padding: 30px 30px 30px 30px;
  text-align: center;
}
.first {
  display: block;
  box-sizing: border-box;
  height: ;
  width: 100%;
  text-align: left;
  box-align: center;
  margin-bottom: 80px;
}
.middle {
  margin: 0 175px 0 175px;
  justify-content: center;
}
.middle #circle1 {
  border-radius: 50%;
  width: 250px;
  height: 250px;
  margin: 0 55px 0 30px;
}
.middle #circle2 {
  border-radius: 50%;
  width: 250px;
  height: 250px;
}
.middle #circle3 {
  border-radius: 50%;
  width: 250px;
  height: 250px;
  margin: 0 0 0 55px;
}
.contact {
    margin: 80px 0 0 0;
    padding: 80px 175px 80px 175px;
    background-color: #eeeeee;
}
.box3 {
  background-color: #ffffff;
  display: inline-block;
  box-sizing: border-box;
  height: 200px;
  width: 46%;
  margin: 1px 30px 1px 1px;
  padding: 30px 30px 30px 30px;
}
.box4 {
  background-color: #ffffff;
  display: inline-block;
  box-sizing: border-box;
  height: 200px;
  width: 46%;
  margin: 1px 1px 1px 30px;
  padding: 30px 30px 30px 30px;
}
.map {
  margin: 0px;
}
.map #locmap {
  width: 100%;
}
.footer {
  background-color: #00897f;
  height: 125px;
  width: 100%;
}
/* On devices wider than 660px */
@media(min-width: 660px) {
}

/* On devices wider than 940px */
@media(min-width: 940px) {
}
